.addButton {
  padding: 10px 10px;
  align-self: center;
  display: flex;
  height: max-content;
  justify-content: center;
}

.tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 500px;
}
