.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newPostBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.smallerWidgets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.videoPosts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.table {
  margin: 20px 15px;
  justify-content: center;
}
